*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: black;
    padding: 18px 5px 20px;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid white;
    z-index: 99;
}
.header__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav_link{
    margin-right: 20px;
    font-size: 18px;
    transition: 0.3s linear;
}


.burger{
    display: none;
}

.header__nav_title{
    text-transform: uppercase;
    font-size: 25px;
    transition: 0.3s linear;
}
.header__nav_social{
    font-size: 18px;
    transition: 0.3s linear;
}
.header__nav_social:hover,
.header__nav_link:hover,
.header__nav_title:hover
{
    color: goldenrod;
}
.header__nav_social:nth-child(1){
    margin-right: 20px;
}

.aboutme{
    background-color: black;
    background-image: url(../assets/img/testbg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 100vh;
}
.aboutme__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.aboutme__photo{
    padding-top: 120px;
    width: 40%;
}
.aboutme__photo_img{
    width: 100%;
    height: 590px;
    border-radius: 20px;
    background-image: url(../assets/img/marina.jpg);
    background-size: cover;
    background-position: center;
}
.aboutme__subtitle{
    color: white;
    font-size: 37px
}
.aboutme__title{
    color: white;
    font-size: 70px;
    margin-bottom: 30px;
}
.aboutme__text{
    padding-top: 120px;
    width: 45%;
}

.aboutme__list{
    list-style-type: none;
    margin-bottom: 120px;
}
.info{
    color: white;

    border-radius: 0px 20px 20px 0px;
    padding-left: 45px;
    margin-bottom: 10px;
    transition: 0.4s linear;
    position: relative;
}
.info::before{
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url(../assets/svg/machine.svg);
    

}
.info:hover{
    color: rgb(145, 112, 30);
}

.conect{

    display: flex;
    justify-content: space-around;
}
.btn{
    padding: 10px 60px;
    width: 50%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background: white;
    border-radius: 25px;
    transition: all 0.3s linear;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn:first-child{
    margin-right: 10px;
}
.btn:hover,
.sub:hover{
    background: linear-gradient(90deg, #7773c6,#9d6cc0,#bd64b2);
    color: rgb(255, 255, 255);
}
.btn:active,
.sub:active{
    background: linear-gradient(90deg, #5d5b7a,#535155,#504c4f);
}

.burger__item{
    width: 50px;
    height: 3px;
    margin-bottom: 10px;
    background-color: white;
    display: block;
}
.buurger_content {
    display: none;
    position: absolute;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    flex-direction: column;
    
}
.quality{
    padding: 50px 10px;
    background-color: #f4f4f4;
}
.quality__item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 60px;
}
.quality__item:nth-child(2n){
    flex-direction: row-reverse;
}
.quality__img{
    width: 33%;
}

.quality_photo{
    width: 75%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 6px 8px 8px 0px rgba(34, 60, 80, 0.2);
}
.quality__text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quality__item_title{
    font-size: 38px;
    margin-bottom: 30px;
    text-align: center;
}
.quality__item_subtitle{
    width: 68%;
    font-size: 22px;
    text-align: center;
}
.price{
    padding: 50px 0;
    background-color: #000;
    background-image: url(../assets/img/bgbottom.png);
    background-position: top;
    background-repeat: no-repeat;
}
.question{
    background-color: #000;
    background-image: url(../assets/img/testbg.png);
    padding: 0px 0px 120px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.question__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question__title{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    transform: translateY(-85px);
}


details{
    display:block;
    background: #fff;
    width:90%;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    overflow:hidden;
    margin-bottom: 1.5rem;
  }
  summary::-webkit-details-marker{display:none;}
  summary::-moz-list-bullet{list-style-type:none;}
  summary::marker{display:none;} 
  summary {
     display:block;
     padding: .3em 1em .3em .9em;
     border-bottom: 1px solid #e2e8f0;
     font-size:1.4em;
     cursor: pointer;
     position: relative;
  }
  summary:before {  
    top: .4em;
    right: .3em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;  
    content: "";
    position: absolute;
    transition: transform .5s;
  }
  details[open] > summary:before {
    transform: scale(1,-1);
  }
  summary ~ * {
     padding: 0 1em 10px 1.4em;
  }
  details[open] summary ~ *{ 
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
  }
  summary:focus {
    outline:0;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
  }
  .bottomimg{
      background-image: url(../assets/img/testbg.png);
      background-position: bottom;
      background-repeat: no-repeat;
      height: 200px;
      background-size: contain;
      width: 100%;
  }
  .top__img{
    background-image: url(../assets/img/bgbottom.png);
    background-position: top;
    background-repeat: no-repeat;
    height: 200px;
    background-size: contain;
    width: 100%;
  }
  .price{
      padding: 80px 0 0;;
      background-size: contain;
  }
  .price__body{
    display: flex;
    flex-direction: column;
  }
.price__title{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 100px;
}
  .price_card{
      border: 2px solid white;
      width: 330px;
      height: 460px;
      color: white;
      padding: 20px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 8px 0px rgb(255 255 255 / 86%);
    transition: 0.3s linear;
   }
  .price_card:hover{
      transform: scale(1.08);
  }
  .card__title_tatoo{
      margin-top: 30px;
  }
.card__title{
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.card__subtitle{
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
}
.card_coust{
    color: #8f8f8f;
    font-size: 24px;
}
.btn_card{
    margin: 80px auto 0;
    
}

.work{
    background-image: url(../assets/img/bgbottom.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f4f4f4;
    width: 100%;
    padding: 50px 15px;
}
.work__title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.slider__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.prev__slide img,
.next__slide img{
    cursor: pointer;
     width: 40px;

}

.prev__slide:hover,
.next__slide:hover,
.reviews__slider_prev:hover,
.reviews__slider_next:hover{
    transform: scale(1.2);
}
.img_slide_photo{
    object-fit: contain;
    transition: 0.3s linear;
    width: 100%;
    height: 500px;
    animation: test 2s linear;
}
@keyframes test{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.6; 
    }
    100%{
        opacity: 1;
    }
}

.reviews{
    background-color: #f4f4f4;
    padding: 80px 10px;
}
.reviews__title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.reviews__slider_prev img,
.reviews__slider_next img{
    cursor: pointer;
    width: 40px;
}
.reviews__slider_body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sub{
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    transition: 0.3s linear;
    font-size: 20px;
}

.record{
    background-color: black;
    padding: 100px 0px 0;
    background-image: url(../assets/img/bgbottom.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.record__title{
    font-size: 35px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.record__form{
    display: flex;
    flex-direction: column;
    width: 45%;


}
.record__body{
    display: flex;
    align-items: center;
    justify-content: space-around
}
.default{
    width: 20%;
    
}

.default img{
    margin-bottom: 100px;
}
.input_text{
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 30px;
    background-color: #ffffff1f;
    border:none;

    
}
.input_text:focus{
    outline: solid 1px goldenrod;
}
.input_textarea{
    resize: none;
    margin-bottom: 60px;
}
.bottomimg_recird{
    height: 100px;
}
.contact__title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}
.map__contact{
    background-color: #f4f4f4;

}
.contact_info{
    width: 50%;
}
.contact__body{
    display: flex;
    align-items: center;

}
.contact_text{
    list-style-type: none;
}
.text__contact{
    font-size: 25px;
}
.map{
    width: 50%;
}
.text__contact_sub{
    font-size: 18px;
}
.social_contact{
    color: black;
    margin-bottom: 20px;
    transition: 0.3s linear;
}
.text__contact_title{
    margin-bottom: 20px;
}
.contact__item{
    margin-bottom: 20px;
}
.social_contact:hover{
    color: goldenrod;
}
.footer{
    border-top: 2px black solid;
    padding: 25px;
}
/* //adaptive// */

@media (max-width: 1100px){


    .aboutme__title{
        font-size: 60px;
    }
    .aboutme__list{
        width: 90%;
    }
    .btn{
        padding: 10px 40px;
    }
    .btn:nth-child(1){
        margin-right: 10px
    }
    .conect{
        justify-content: flex-start;
    }
    .quality__item_title{
        font-size: 33px;
    }
    .quality__item_subtitle{

        font-size: 17px;
    }
    .quality_photo {
        width: 80%;
    }
    .price__body{
        justify-content: space-around;
    }
    .price_card{
        margin-bottom: 30px;
    }
    .price_card:last-child{
        margin-bottom: 0;
    }
}


@media (max-width: 935px){
    .aboutme__title{
        font-size: 45px;
    }
    .aboutme__subtitle{
        font-size: 25px;
    }
    .aboutme__body{
        justify-content: center;
    }
    .aboutme__photo{
        margin-right: 110px;
    }
    .conect{
        flex-direction: column;
        align-items: flex-start;
    }
    .btn{
        width: 47%;
        padding: 10px 31px;
    }
    .btn:first-child{
        margin-bottom: 25px;
    }
    .quality__item_title{
        font-size: 29px;
    }
    .record__form {
        width: 37%;
    }

}

@media (max-width: 760px){
    .header__nav{
        display: none;
    }
    .social{
        display: none;
    }
    .burger{
        display: block;
    }
    .burger:hover{
        cursor: pointer;
    }
    .activeBurger{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 79px;
        left: 0;

    }
    .header__nav_link{
        margin-bottom: 25px;
        font-size: 25px;
        margin-right: 0;
    }
    .btn{
        padding: 10px 22px;
        text-align: center;
    }
    .burger_btn{
        margin-bottom: 20px;
    }
    .quality__item_title {
        font-size: 24px;
    }
    .quality__item_subtitle{
        font-size: 14px;
    }
    .quality__item{
        justify-content: flex-start;
    }
    .record__body{
        flex-direction: column;
    }
    .price__body{
        padding: 0 10px;
    }
    .default{
        width: 100%;
    }
    .default img{
        display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    }
   .record__form{
       width: 90%;
   }

   .contact__body{
       flex-direction: column;
   }
   .contact_info{
       width: 80%;
   }
   .map{
       width: 80%;
   }
    
}
@media (max-width: 650px){
    .aboutme{
        height: 100%;
    }
    .aboutme__body{
        flex-direction: column;
    }
    .aboutme__photo{
        margin-right: 0;
        width: 70%;
    }
    .aboutme__photo_img{
        height: 453px;
        margin-bottom: 10px;
    }
    .aboutme__text{
        padding: 0;
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
    padding-bottom: 75px;
    }
    .conect{
        display: none;
    }

    .aboutme__list{
        margin-bottom: 0;
            width: 71%;
    }
    .aboutme__subtitle{
        font-size: 18px;
    }
    .aboutme__title{
        line-height: 31px;
        font-size: 40px;
    }
    .quality__text{
        width: 80%;
    }
    .quality__item,
    .quality__item:nth-child(2n){
        flex-direction: column;
    }
    .quality__img {
        width: 60%;
        margin-bottom: 10px;
    }
    .quality_photo{
        width: 100%;
    }
    .quality__item_subtitle{
        width: 100%;
        font-size: 18px;
    }
 
    
}
@media (max-width: 480px){
    .quality__text {
        width: 95%;
    }
    .price_card:hover{
        transform: scale(1);
    }

    .img_slide_photo{
        height: 280px;
    }
}
@media (max-width: 400px){
    .aboutme__photo_img {
        height: 315px;
    }
    .quality__item_title {
        font-size: 19px;

    }
    .quality__item_subtitle{
    
        font-size: 17px;
    }
    .text__contact{
        font-size: 18px;
    }
    .text__contact_sub{
        font-size: 15px;
    }
}
@media (max-width: 376px){
.input_text{
    font-size: 15px;
}
.aboutme__title{
    font-size: 33px;
}
    .aboutme__photo_img {
        height: 315px;
    }
    .price_card{
        width: 260px;
        height: 370px;
    }
    .card__subtitle{
        font-size: 15px;
    }
    .btn_card{
        font-size: 15px;
    }
    .default img{
        width: 200px;
    }
}